a {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.field {
  margin-bottom: 2rem;
}

.btn {
  background: rgb(51, 228, 51);
  width: 50%;
  max-width: 100%;
  margin: 1rem auto;
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}
